---
export interface Props {
  href?: string;
  children?: any;
  variant?: 'primary' | 'secondary';
  ariaLabel?: string;
  onClick?: string; // ahora recibimos código JS como string
}

const { href, children, variant = 'primary', ariaLabel, onClick } = Astro.props;

const base =
  'inline-flex items-center justify-center px-4 py-2 rounded-lg text-sm font-semibold transition-all duration-150 focus:outline-none';
const primary = 'bg-primary text-white';
const secondary = 'bg-zinc-100 text-zinc-600 hover:opacity-90';
const cls = `${base} ${variant === "primary" ? primary : secondary}`;
---

{href ? (
  <a class={cls} href={href} aria-label={ariaLabel ?? ''}>
    {children}
  </a>
) : (
  <button
    class={cls}
    aria-label={ariaLabel ?? ''}
    is:raw
    onclick={onClick} 
  >
    {children}
  </button>
)}
